.navbar {
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.navbar-brand {
    padding: 10px 15px;
}

