@import url(https://fonts.googleapis.com/css?family=Exo+2:100);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400);

*
{
  box-sizing: border-box
}

a
{
  text-decoration: none;
  color: blue;
}

body
{
  margin: 0;
  padding: 0;
  font-family: Maven Pro;
}


 
h1, h2, h3, h4, h5, h6
{
  font-weight: normal;
  margin: 0 0 30px 0;
}

h1
{
  font-size: 72px
}

h2
{
  font-family: 'Exo 2';
  text-transform: uppercase;
  font-weight: bold;
}

.spinner
{
    margin: 0 auto 25px auto;
}

input
{
  display: block;
  font-family: maven Pro;
  margin: 0;
  width: 100%;
}

p
{
  margin: 0 0 20px 0;
}

section
{
  margin: 0 auto;
  max-width: 1000px;
  overflow: auto;
  padding: 50px 20px;
}

textarea
{
  display: block;
  font-family: maven Pro;
  width: 100%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
